<div class="row project-backgroundimage5 hidden-xs">
	<div class="container about-investor-title-setting">
			<br>
			<h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="EditAndDelete"></h3>
			<h3 class="investor-para"> </h3>
			<br><br>
		</div>
</div>

<section ng-controller="ContestsController" ng-init="findOne();" class="container">

	<h3 class="text-info text-center">
		<div>
			<span translate="EditAndDelete"></span> <br> <br>
			<button class="btn btn-md btn-info" ng-click="editContest();" ng-disabled="upgrade"> 
				<span translate="Edit"></span>
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>	
			</button>
			<button class="btn btn-md btn-warning" ng-click="deleteContest();"  ng-disabled="upgrade"> 
				<span translate="Delete"></span>
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>
			<button class="btn btn-md btn-success" ng-click="upgradeContest(); upgrade = true"  ng-disabled="edit"> 
				<span translate="Upgrade"></span>
				<i class="fa fa-line-chart" aria-hidden="true"></i>
			</button>
		</div> 
	</h3>
	
	<div class="row" ng-if="!upgrade">
		<!-- loader -->
		<div ng-if="isLoading">
			<center> 
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</center>
		</div>

		<div ng-if="!isLoading" class="col-md-offset-2 col-xs-12 col-md-8" style="border: 1px #5bc0de solid; border-radius: 1rem;padding: 2rem;">
			<div class="form-group">
				<h4><span translate="title"></span>:
					<span ng-show="!editName" ng-click="editName = true" style="word-break: break-word">{{thisContest.name}}</span> 
					<input type="text" ng-model="thisContest.name" ng-show="editName" class="form-control">
				</h4>
			</div>
			<div class="form-group">
				<b translate="Contents">:</b>
				<!-- <span ng-show="!editDesc" ng-click="editDesc = true" class="prjct-list-font" style="white-space: pre-line; word-wrap: break-word;">{{thisContest.description}}</span> 
				<textarea ng-model="thisContest.description"  ng-show="editDesc" class="form-control"></textarea> -->

				<span ng-show="!editDesc" ng-click="editDesc = true" class="prjct-list-font" style="white-space: pre-line; word-wrap: break-word;" ng-bind-html="thisContest.description"></span>

				<div  ng-show="editDesc" text-angular="text-angular" name="description" ng-model="thisContest.description" ta-disabled='disabled' ta-text-editor-class="form-control myform1-height" ta-html-editor-class="form-control myform1-height"></div>
				
			</div>
			<div class="form-group">
				<b translate="term"></b>: {{thisContest.dayContest}}일
			</div>
			<div class="form-group">
				<b translate="Currency"></b>: {{thisContest.currency.code}}
			</div>
			<div class="form-group">
				<b translate="ExpertiesSkills"></b>: <p style="display:inline;" ng-repeat="skill in thisContest.skills"> <span  class="label label-info m-l-xs m-r-xs" style="word-break: break-word"> {{skill.name}}&nbsp;	</span></p> 
			</div>
			
			<div>
				<b translate="Applicants">:</b> {{thisContest.entries.length}}
			</div>

			<br>
			<div>
				<div ng-if="editName || editDesc">
					<button class="btn btn-md btn-danger" ng-click="cancelEdit()" translate="Cancel"></button>
					<button class="btn btn-md btn-success" ng-disbaled="isLoading" ng-click="updateContest();" >
						<span translate="Complete"></span>  <span ng-if="isLoading"> <i class="fa fa-spinner fa-spin fa-1x fa-fw" ></i>  </span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Upgrade -->
	<div class="row" ng-if="upgrade">
		<div class="col-md-offset-2 col-md-8 col-xs-12">
			
			<div class=" profile_container bordortop_styling p-l-sm p-r-lg">            
			  <h3 class="h3-mobile-font"> <strong translate="upgradingContest"></strong></h3>
			  <hr>
			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
			      <div class="col-xs-7 col-md-3">
			        <input ng-disabled="thisContest.additionalPakages.pakage_1" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.pakage_1" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.pakage_1,'pakage_1')">
			      	<div class="btn-container">
			      		<label class="featured label-featured btn btn-block" style="background:#2d6ca7;color:#fff;" translate="Chatting"> </label> 
			      	</div>
			        
			      </div>
			      <!-- Mobile View -->
			      <div class="col-md-1 col-xs-5 text-right hidden-sm hidden-md hidden-lg">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_1 | number: 0}}</strong>
			      </div>
			      <!-- End -->
			    <div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			        
					<h3 class="title" translate="chatHeading"></h3>
					  <p><span translate="YouCanUseUnlimitedChat"></span> &nbsp;&nbsp;<span ng-click="chat = !chat" style="font-size:10px;padding-left:20px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
					<span ng-show="chat">
					  <p><span style="color:#920923" translate="YouMustUseGoogleChrome"></span></p>
		              <p translate="OutsourcingOkayLivChatService"></p>
					  <p translate="FreeVideoChatsAreAvailable"></p>
		              <p translate="ItGivesYouTheOpportunity"></p>
			  

				    <ul class="ul-sidebar2">
						<li style="color:#898989">
							 <span translate="OtherExternalVideoChat"></span>
						</li>
				    </ul>

				    <ul class="ul-sidebar2">
						<li style="color:#898989">
							 <span translate="SaveChatHistory"></span>
						</li>
				    </ul>
			  		</span>
			    </div>
			      <div class="col-md-1 text-right p-l-none hidden-xs">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_1 | number: 0}}</strong>
			      </div>
			    </div>
			    <hr>
			  </div>

			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
				    <div class="col-xs-7 col-md-3">
				        <input ng-disabled="thisContest.additionalPakages.sealed" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.sealed" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.sealed,'pakage_5')">
					    <div class="btn-container"> 
					    	<label class="sealed label-featured btn btn-block" style="background:#8fb7b9;border-color:#8fb7b9;" translate="sealed"> </label> 
					    </div>
				    </div>
			      <!-- Mobile View -->
			      <div class="col-xs-5 col-md-1 text-right p-l-none hidden-sm hidden-md hidden-lg">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_5 | number: 0}}</strong>
			      </div>
			      <!-- End -->
			      <div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			        <p translate="IfYouHoldTheContestPrivately"></p>
			      </div>
			      <div class="col-md-1 text-right p-l-none hidden-xs">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_5 | number: 0}}</strong>
			      </div>
			    </div>
			    <hr>
			  </div>

			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
			        <div class="col-xs-7 col-md-3">
			        	<input  ng-disabled="thisContest.additionalPakages.private" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.private" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.private,'pakage_4')" >
				    	<div class="btn-container"> 
				        	<label class="private label-featured btn btn-block" style="background:#85a1b9;color:#fff;" translate="private"></label> 
				    	</div>
			        </div>
			        <!-- Mobile View -->
			        <div class="col-xs-5 col-md-1 text-right p-l-none hidden-sm hidden-md hidden-lg">
			          <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_4 | number: 0}}</strong>
			        </div>
			        <!-- End -->
			        <div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			         	<p><span translate="PersonalServicesAreEffective"></span><span ng-click="service = !service" style="font-size:10px;margin-left:13px;padding-left:20px;background:#2f70a9;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="introduction"></span></p>
			   			<p ng-show="service" translate="OutsourcingOKWillReviewAndUpdate"></p>
			        </div>
			        <div class="col-md-1 text-right p-l-none hidden-xs">
			        	<strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_4 | number: 0}}</strong>
			      	</div>
			    </div>
			    <hr>
			  </div>

			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
			        <div class="col-xs-7 col-md-3">
			        	<!-- <input class="bigCheckBox" type="checkbox" ng-model="upgradeProject.fulltime"> -->
			        	<input  ng-disabled="thisContest.additionalPakages.urgent" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.urgent" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.urgent,'pakage_7')">
			      
			      		<div class="btn-container"> 
			        		<label class="fulltime label-featured btn btn-block" style="background:#524a3f;color:#fff;border-color: #524a3f;" translate="urgent"> </label> 
			      		</div>
			    	</div>
			    	<!-- Mobile View -->
			      	<div class="col-xs-5 col-md-1 text-right p-l-none hidden-sm hidden-md hidden-lg">
			        	<strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_7 | number: 0}}</strong>
			      	</div>
			      	<!-- End -->
			      	<div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			        	<p translate="ThisServiceIsAService"></p>
			      	</div>
			      	<div class="col-md-1 text-right p-l-none hidden-xs">
			        	<strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_7 | number: 0}}</strong>
			      	</div>
			    </div>
			    <hr>
			  </div>

			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
			      <div class="col-xs-7 col-md-3">
			        <input  ng-disabled="thisContest.additionalPakages.gaurantee" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.gaurantee" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.gaurantee,'gaurantee')">
			      	<div class="btn-container"> 
			        	<label class="fulltime label-featured btn btn-block" style="background:#5a4920;color:#fff;border-color: #5a4920;"> 상금보장 </label> 
			      	</div>
			    	</div>
				    <!-- Mobile View -->
				    <div class="col-xs-5 col-md-1 text-right p-l-none hidden-sm hidden-md hidden-lg">
				      <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.gaurantee | number: 0}}</strong>
				    </div>
				    <!-- End -->
			     	<div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			        <p><span translate="IfYouChooseToWinPrize"></span><span ng-click="gaurantee = !gaurantee" style="font-size:10px;margin-left:13px;padding-left:20px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
				  		<span ng-show="gaurantee">
				  			<ul class="ul-sidebar2">
									<li style="color:#898989">
										<span translate="IfYouChooseToWinThePrize"></span>
									</li>
				  			</ul>
				  		</span>
			      </div>
			      <div class="col-md-1 text-right p-l-none hidden-xs">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.gaurantee | number: 0}}</strong>
			      </div>
			  	</div>
			    <hr>
			  </div>

			  <div class="upRow">
			    <br class="hidden-xs">
			    <div class="row">
			      <div class="col-xs-7 col-md-3">
			        <input ng-disabled="thisContest.additionalPakages.nda" class="bigCheckBox" type="checkbox" value='true' ng-model = "thisContest.additionalPakages.nda" ng-change="calculateUpgradeAmount(thisContest.additionalPakages.nda,'pakage_6')">
			      	<div class="btn-container"> 
			        	<label class="bg-primary label-featured btn btn-block" style="background:#efbf50;color:#fff;border-color: #efbf50;" translate="ContractNDA"> </label> 
			      	</div>
			      </div>
			      <!-- Mobile View -->
			      <div class="col-xs-5 col-md-1 text-right hidden-sm hidden-md hidden-lg">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_6 | number: 0}}</strong>
			      </div>
			      <!-- End -->
			      <div class="col-xs-12 col-md-8 p-l-none p-ml-md prjct-list-font p-mt-sm">
			        <p><span translate="ThisIsAServiceThatCreates"></span><br><span ng-click="nda = !nda" style="font-size:10px;margin-left:16px;padding-left:20px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
			  			<span ng-show="nda">
			  				<p translate="IfYouChooseANonPublicContract"></p>
			  				<ul class="ul-sidebar2">
									<li style="color:#898989">
										<span translate="TheContractMethodCanBe"></span> 
									</li>
			  				</ul>
			  			</span>
			      </div>
			      <div class="col-md-1 text-right p-l-none hidden-xs">
			        <strong>{{thisContest.currency.symbol_native}}{{latestCurrencyRate[thisContest.currency.code]*pakagePrices.pakage_6 | number: 0}}</strong>
			      </div>
			    </div>
			    <hr>
			    <div class="m-l-md"><h4><strong> <span translate="TotalVATExcluded"></span>: {{thisContest.currency.symbol_native}} {{upgradeTotal | number: 0 }}</strong></h4></div>  
			  </div>

			  <div>
			  	<button class="btn btn-md btn-danger" ng-click="cancelUpgrade();" translate="Cancel"> </button>
			  	<button class="btn btn-md btn-success" ng-disabled="upgradeTotal==0" ng-click="updateContest();" translate="Upgrade"> </button>
			  </div>
			  <br><br>
			</div>
		</div>
	</div>
	<br><br>
</section>