<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>

            <h3 class="investor-heading p-t-sm" style="font-size:20px;"><span translate="UploadContestFileSourceFiles"></span></h3>
            <h3 class="investor-para">
 
            </h3>
            <br><br>
          </div>
      </div>

<section ng-controller="ContestsController" ng-init="findOne();" class="container-fluid p-l-none p-ml-none p-r-none p-ml-none">


  <!-- Credit Card -->
  <div class="row m-mt-none" style="background: #333; margin-top: -10px;">
    <div class="col-xs-6 col-md-8">
      <!-- contest title -->
      <h3 class="m-l-lg h3-mobile-getsupport m-ml-none" style="color: #fff"><strong class="p-l-lg">{{thisContest.name}}</strong></h3>
      <br>
    </div>
    <div class="col-xs-6 col-md-4 text-right">
      <h3 class="p-r-lg m-r-lg h3-mobile-getsupport p-mr-none m-mr-none">
        <b class="p-r-lg p-mr-none"><label class="contestClosed"  class=""><span translate="EndContest"></span></label></b></h3>
      <h3 class="p-r-lg m-r-lg p-mr-none m-mr-none" style="color: #fff">
        <strong class="p-r-lg p-mr-none">{{thisContest.currency.symbol_native}}{{thisContest.sliderContestBudg | number:0}}원</strong>
      </h3>
    </div>
  </div>
  <div class="container-fluid background-handoverEntry p-ml-none" style="padding-top: 25px; margin-left: -15px; margin-right: -15px; padding-left: 4rem;">
    <div class="m-b-xs">
      <b style="padding-left: 3px;"><a ui-sref="contests.view({contestId: thisContest._id})"><span translate="ViewContestContent"></span></a></b>
    </div>

      <div class="row mobile-view-row-handover" style="margin-left: 2px; margin-right: 0px;">
      <div class="col-xs-12 col-md-9" style="background: #fff">
        <div class="col-xs-6 col-md-6 p-t-sm p-mt-xs p-b-sm p-mb-sm p-ml-xs p-mr-none">
          <!-- <h6 class="h6-mobile-font">Transfer Copyright -<span class="text-muted">Signed</span></h6> -->
          <h6 class="h6-mobile-font"> ~</h6>
        </div>
        <div class="col-xs-6 col-md-6 text-right p-t-sm p-mt-sm p-b-sm p-mb-sm p-ml-none p-mr-xs">
          <!-- <button class="contrct-btn">Download Contract</button> -->
          <button class="contrct-btn"> ||</button>
        </div>
      </div>
    </div>

    <!-- loader -->
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="contestLoader"></span>

    <!-- For employer to download files -->
    <div ng-if="authentication.user._id === thisContest.user._id" class="col-xs-12 col-md-9 m-t-md handover-row" style="background: #fff;margin-bottom:30px;">
      <div class="row m-mt-sm m-ml-none m-mr-none" style="background: #fff">
        <br>
        <center ng-if="thisContest.handOverFileName">
          <h2 class="text-success"><span translate="DownOrgDoc"></span></h2>
        </center>

    <div ng-if="!thisContest.handOverFileName" class="col-xs-offset-2 col-xs-8">
          <center>
            <h2 class="text-warning">
            <span translate="PlzReqOrginalFil"></span>
            </h2>
          </center>
        </div>

        <div class="col-xs-offset-2 col-xs-9" style="margin-top:50px">

      <p><img src="modules/contests/client/img/contest_icon1.png"><span translate="ContractSignedTransferRights"></span> </p>

      <p style="margin-top:20px"><img src="modules/contests/client/img/contest_icon1.png"><span translate="ClientConfirmWinner"></span>  </p>

      <p style="margin-top:20px"><img src="modules/contests/client/img/contest_icon1.png"><span translate="AllDesignsAndIdeas"></span> .</p>
      <p style="margin-top:20px"><img src="modules/contests/client/img/contest_icon1.png"><span translate="FreelanceDesignsIdeas"></span> .</p>

      <p style="margin-top:20px;margin-bottom:50px;"><img src="modules/contests/client/img/contest_icon1.png"><span translate="WinnersWhoDoNotRight"></span> . </p>
    </div>

        <br><BR><BR>

        <center>
          <div ng-if="thisContest.handOverFileName" class="col-xs-offset-2 col-xs-8">
            <i class="glyphicon glyphicon-file">
              <a class="text-info" target="_self" href="{{thisContest.handOverFileLink}}" download="{{thisContest.handOverFileName}}" >
                <strong><span translate="WinningOrgFile"></span> {{thisContest.handOverFileName}}</strong>
              </a>
            </i>
      <br><br>

          </div>

      <div class="col-xs-offset-2 col-xs-8" style="margin-bottom:50px">
      <br><br>
      <p style="color:#2f70a9;font-size:15px;"><img src="modules/projects/client/img/project_icon2.png"><b><span translate="DownloadCopyOriginalFile "></span>.</b></p>

      </div>

        </center>

        <BR><BR>

        <hr>
        <br>
      </div>
    </div>

    <!-- For freelancer to upload files -->
    <div ng-if="authentication.user._id === (thisContest.entries | filter:{entryPersonUserId: authentication.user._id, youWinner: 'yes'})[0].entryPersonUserId" class="col-xs-12 col-md-9 m-t-md handover-row" style="background: #fff" margin-top:30px"">
      <center>
        <h2 class="text-primary"><span translate="SendOrgDocUpload"></span></h2>
      </center>

      <div class="col-xs-offset-2 col-xs-9" style="margin-top:50px">

        <p><img src="modules/contests/client/img/contest_icon1.png"><span translate="ArticleAccordance"></span></p>

    <p style="margin-top:20px"><img src="modules/contests/client/img/contest_icon1.png"><span translate="WinnerPrize"></span>. </p>


        <h3 class="text-warning">
        <span translate="WinnerOrginalDescription"></span>
        </h3>
        <hr>
        <input  type="file" nv-file-select=""  uploader="uploader" multiple="true"> (2MB <span translate="FileUploadLimit"></span> )<br><br><br>
    <p style="color:#2f70a9;font-size:15px;"><img src="modules/projects/client/img/project_icon2.png"><b><span translate="ConfirmDownload"></span></b></p>

        <div ng-show="uploader.queue.length>0">
          <div><span translate="FilName"></span> {{ item.file.name }}</div>
          <div><span translate="Size"></span> {{ item.file.size/1024/1024|number:2 }} Mb</div>
          <div ng-show="uploader.isHTML5">
            <span translate="Progress"></span>  : {{ item.progress +'%'}}
              <div>
                  <div  ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
          </div>

          <!-- <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button> -->
          <!-- <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button> -->
          <!-- <button ng-click="item.remove()">Remove</button> -->
          <span ng-show="errMsg" class="text-danger">
            {{errMsg}}
          </span>
          <span ng-show="sucMsg" class="text-success">
            {{sucMsg}}
          </span>
        </div>
        <center ng-if="item">
          <button class="btn btn-lg btn-danger" ng-click="cancelUploadHandOverFile();"> <span translate="Cancel"></span> </button>
          <button class="btn btn-lg btn-success" ng-click="uploadHandOverFile();"> <span translate="SendFile"></span></button>
        </center>
        <!-- sucess file upload message -->
        <center>
          <h2>
            <span ng-show="sucMsg" >
              <code class="text-success"><span translate="SuccessfullySent"></span>.<!-- {{sucMsg}} --></code>
            </span>
          </h2>
        </center>
        <br><br>
      </div>

    </div>


    <div class="col-xs-12 col-md-3 p-mr-none">
    <div style="margin-top: -5.2rem;" class="m-mt-lg">
      <div style="background: #fff">
        <p class="p-l-sm p-t-sm"><strong><span translate="InstructionSequence"></span></strong></p>
        <hr>
        <div class="p-l-md">
          <i class="fa fa-check-circle text-success" aria-hidden="true"></i><span class="text-success p-l-lg"><span translate="ConfirmatinIntellectualProp"></span> </span>
        </div>
        <br>
        <div class="p-l-md">
          <i class="fa fa-check-circle text-success" aria-hidden="true"></i><span class="text-success p-l-lg"><span translate="DocCheck"></span></span>
        </div>
        <br>
        <div class="p-l-md p-b-md">
          <i class="fa fa-check-circle text-success" aria-hidden="true"></i><span class="text-success p-l-lg"><span translate="ConfirmWinner"></span></span>
        </div>
      </div>

    </div>
  <br><br>
  <hr>
    <div class="m-t-md" style="background: #fff" ng-repeat="entry in thisContest.entries" >
      <div class="trophy-div-contest pull-right" ng-if="entry.youWinner == 'yes'">
        <i class="fa fa-trophy text-warning"></i>
      </div>
      <div class="p-t-sm" ng-if="entry.youWinner == 'yes'">
        <img ng-src="{{entry.entryFile}}" class="img-responsie img-width-contst">
      </div>
      <!-- userInfo -->
      <div class="row" ng-if="entry.youWinner == 'yes'">
        <div class="col-xs-3 p-l-none p-ml-none" style="margin-left: 1.5rem; margin-top: 1rem;">
          <img src="{{entry.entryPersonProfImage}}" style="width:100%">
        </div>

        <div class="col-xs-5 p-l-none p-ml-none" style="margin-left: 1.5rem; margin-top: 1rem;">
          <b class="text-info">{{entry.entryPersonUsername}}</b><br>
          <span style="font-size:10px"> <span translate="Applicants"></span># {{$index + 1}} of {{thisContest.entries.length}}</span>
        </div>
      </div>
    </div>
  <!-- <hr> -->
  </div>
  <!-- chatWindow -->
  <div  ng-show="authentication.user">
    <footer ng-include="'/modules/core/client/views/chatWindow.html'" ></footer>
  </div>

</section>
