<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="PayPalAccountVerification"></h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section ng-controller="ProfilesController">
	<div class="container-fluid m-ml-none m-mr-none p-ml-none p-mr-none" style="margin-right: 10rem; margin-left: 12rem;">
		<div class="col-xs-12 padng-top p-ml-none p-mr-none p-mt-none">
			<h1 class="text-center h1-mobil-privacy"><b translate="VerifyYourPayPalAccountInformation"></b></h1>
			<h5 class="text-center h4-mobil-privacy"><b translate="YouCanAuthenticate"></b></h5>
		</div>
		<div class="col-xs-12 padng-top p-ml-none p-mr-none">
		<!-- 
			<div class="col-xs-12 col-md-4 text-center p-ml-none p-mr-none">
				<img ng-src="modules/contests/client/img/sprite.png" class="img-responsive center-block">
				<h4 class="p-t-lg"><strong>Add a verified payment method</strong></h4>
				<span>Appear more professional with a payment verified badge.</span>
			</div>
			<div class="col-xs-12 col-md-4 text-center p-ml-none p-mr-none">
				<img ng-src="modules/contests/client/img/paypal.png" class="img-responsive center-block">
				<h4 class="m-b-none p-t-lg"><strong>Receive a FREE Professional membership trial</strong></h4>
				<span>AGet the tools to succeed plus free project extensions.</span>
			</div>
		-->
			<div class="col-xs-12 col-md-4 text-center p-ml-none p-mr-none col-md-offset-4">
				<img ng-src="modules/contests/client/img/paymnt.png" class="img-responsive center-block">
				<h4 class="p-t-lg"><strong translate="SecurePaymentSystem"></strong></h4>
				<span translate="AllFeesWillBeCharged"></span>
			</div>
		
		</div>
		<div class="col-xs-12 padng-top p-ml-none p-mr-none">
		<!-- 
			<div class="col-xs-12 col-md-6 card-div p-t-lg text-center p-ml-none p-mr-none">
				<img ng-src="modules/contests/client/img/credit-card.png" class="img-responsive paypal-img">
				<button class="btn btn-success btn-md m-t-lg" ng-click="verifyPayment()">Add Credit card</button>
			</div>
		-->
			
			<div class="col-xs-12 col-md-4 text-center p-ml-none p-mr-none col-md-offset-4" >
				<img ng-src="modules/contests/client/img/paypal1.png" class="img-responsive paypal-img center-block">
				<button class="btn btn-success btn-md m-t-lg" ng-click="verifyPayment()" translate="PayPalVerification"></button><br><br><br>
			</div>
		</div>
	</div>
</section>	