<section>
 <div class="container-fluid p-r-none p-l-none ">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title"><strong translate="DepositPayment"></strong> </h5>
  </div>
    <div class="modal-body " id="modal-body">
      <div class="row p-l-md p-r-md p-t-lg p-b-lg" style="background: #efefef; margin-top: -15px;">
        <span translate="YouCanStart"></span> <b>{{profile.userInfo.username}}</b> <span translate="approvedThe"></span>
      </div> 
      <br><br>
      <div class="row">
        <div class="col col-md-4 inline">
          <h5><strong translate="DepositAmount"></strong></h5>
          <div class="input-group">
            <span class="input-group-btn">
               <button class="btn btn-default" > 
                {{project.currency.symbol_native}}
              </button>
            </span>
            <input type="number"  required ng-model="hireme_amount" class="form-control" value="50">
          </div>
        </div>

        <div class="col col-md-8">
          <h5><strong translate="DepositDescription"></strong></h5>
          <div>
            <input type="text" required ng-model="hireme_milestone_desc" class="form-control" value="First MileStone">
          </div>
        </div>
      </div>

      <br><br>
      <div class="row">
          <center><h5><strong translate="RecommendedUpdate"></strong></h5></center>
      </div>

      <br>
      <div class="row" >
          <div class="col col-md-1">
            <input type="checkbox">
          </div>
          <div class="col col-md-3">
            <button class="btn btn-sm btn-primary" style="border-radius: 5px;background:#efbf50;color:#fff;border-color: #efbf50;" translate="NonDisclosureAgreement"> </button>
          </div>
          <div class="col col-md-6">
            <p><span translate="MustAgreement"></span><span ng-click="nda = !nda" style="font-size:10px;margin-left:13px;padding-left:20px;background:#6b0816;border-radius: 3px;padding:5px;color:#fff;cursor: pointer; cursor: hand;" translate="caution"></span></p>
			  <span ng-show="nda">
			  <p translate="NonPublicContract">.</p>
			  <p style="color:#898989"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#820923;"></i> <span translate="ContractMethod"></span> </p> 
			  </span>
          </div>  
          <div class="col col-md-2 text-right">
            <b>{{project.currency.symbol_native}} <span translate="Free"></span></b>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col col-md-8">
          <!-- You will be directed to the deposit page to make this payment. -->
        </div> 

        <div class="col col-md-4 text-right">
          <h4><strong>합계: {{project.currency.symbol_native}} {{hireme_amount || '0'}}</strong></h4>
        </div>
      </div>
    </div> 

    <div class="modal-footer" style="background: #efefef;">
        <button class="btn btn-default" ng-click="cancel()" translate="consultation"></button>
        <button ng-disabled="!hireme_milestone_desc || !hireme_amount" class="btn btn-primary" type="button" ng-click="ok()" translate="Payments"></button>
    </div>

 </div>
</section>