<div class="modal-header">
  <h3 class="modal-title text-center text-info" id="modal-title" translate="MobilePhoneAuth"></h3>
</div>
<div class="modal-body" id="modal-body">

  <!-- Start of Modal body -->
  <fieldset class="row" ng-disabled="codeSent">
    <div class="col col-xs-4" translate="CellPhone"></div>
    <div class="col col-xs-8">
      <input class="form-control" type="text"  placeholder="예시:+821012345678" ng-model="theUser.mobileNumber">
      <button ng-hide="codeSent" class="form-control btn btn-primary" type="button" ng-click="sendCode()" ng-disabled="!theUser.mobileNumber" translate="SendVerificationCode"></button>
    </div>
  </fieldset>

  <!-- loader -->
  <div ng-if="isLoading">
      <center>
        <h4 class="text-info">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </h4>
      </center>
  </div>

  <!-- error message  -->
  <div ng-if="codeNotSent">
      <center>
         <h4>
           <span class="text-danger" style="word-wrap: break-word;"> <i class="glyphicon glyphicon-remove"></i> {{errMsg || '인증코드 전송 오류입니다. 다시 시도하십시오./Authentication code transmission error. Please try again.'}}</span>
         </h4>
      </center>
  </div>

  <!-- code sent message -->
  <div class="row" ng-if="codeSent">
    <div class="col col-xs-12">
      <center>
         <h4>
           <span class="label label-success"> <i class="glyphicon glyphicon-info-sign"></i> <span translate="VerificationCodeSent"></span></span>
         </h4>
      </center>
    </div>
  </div>
  <br>

  <center ng-if="theUser.phoneAuthToken">
    <h2 class="label label-info">
      <span> <i class="glyphicon glyphicon-info-sign"></i> <span translate="alreadyReceived"></span></span> 
    </h2> 
    <br><br>
  </center>  
 
  <fieldset class="row" ng-show="codeSent || theUser.phoneAuthToken">
    <div class="col col-xs-4" translate="AuthenticationCode"></div>
    <div class="col col-xs-8">
      <input class="form-control" type="text" min=0 ng-model="confirmCode" placeholeder="XXXXXXXXXX" >
    </div>
  </fieldset>
  <!-- End of Modal body -->

</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="cancel()" translate="Cancel"></button>
  <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="!confirmCode && !theUser.phoneAuthToken" translate="SendCode"></button>
</div>  