<div class="row project-backgroundimage5 hidden-xs">
    <div class="container about-investor-title-setting">
<br>
        <h3 class="investor-heading p-t-sm" style="font-size:20px;"><span translate="OutsourcingOKUsers"></span></h3>
        <h3 class="investor-para">

        </h3>
        <br><br>
      </div>
  </div>

<section autoscroll="true" class="container-fluid p-ml-none p-mr-none" ng-controller="ProjectsController">
<br><br>
<div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid text-justify p-ml-none p-mr-none term_box" aria-label="Content" style="margin-top:20px;margin-bottom:70px;"><br>
   <div class="col-xs-12 thumbnail bordortop_styling">
        <h2 class="h2-mobile-font"><strong><span translate="UserRules"></span></strong></h2>
        <p style="font-size:16px" translate="ParaUserRules" >주식회사 잡콜미가 운영하는 회사(이하 "회사")는 기업에 대한 사회의 기대를 충족케 하기 위해서 적용 가능한 모든 규칙, 규정 및 법률에 따라 사업을 수행해야 할 당연한 의무라고 생각합니다. "회사"는  모든 "회원"들이 신뢰와 존중을 유지하는 방식으로 행동하도록 돕기 위해 책임을 다하고자 노력 합니다. 본 "이용자 수칙"은 "회사" 사이트를 문제없이 "회원"들이 이용하기 위한 "이용자 수칙" 사항을 준수 해야 할 규정함을 목적으로 합니다.본 "이용자 수칙"과 정책 및 절차를 위반하면 계정해지 및 징계 조치가 내려 질 수 있습니다. 본 "이용자 수칙"에 관련하여 문의 사항은 "회사" 정보책임 지원 부서 전화번호 02-2058-0137 로 문의하시길 바랍니다. "회사" 법무 지원 부서에서는 올바른 절차에 관한 추가 정보를 제공하고 발생할 수있는 궁금증을 해결해 드릴 수 있습니다."회원"은 본 "이용자 수칙"에 동의하고 "회사"("회사" 운영 웹사이트 https://www.outsourcingok.com를 포함한 아웃소싱 오케이 관리 및 운영하는 웹사이트 및 어플리케이션 등 서비스 플랫폼 일체를 의미함)의 회원가입 절차를 완료한 자를 의미합니다. 특히 14세 미만 아동은 절대로 회원에 가입 할 수 없습니다. 설령 가입될경우에도 강제 회원탈퇴 조치됩니다.</p>
    </div>

   <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
       <div class="list-first">
         <h3 class="font-mobile">1.<span translate="MembershipObligations"></span></h3>
         <ul class="list-unstyled" style="line-height: 30px;">
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberTruehonest"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberComPolicy"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberComPolicy"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShouldNot"></span></strong> <span translate="MemberDisInfoLaw"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberHarass"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberSafety"></span> </li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersMust"></span></strong> <span translate="MemberIndentity"></span> </li>      </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="list-right">
        <h3 class="font-mobile">2.<span translate="UserContent"></span></h3>
        <strong style="line-height: 39px;"><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersRespContPosted"></span></strong>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span> </strong> <strong><span translate="CopyrightOrIntellectualParty"></span> </strong><span translate="MemberContentInfringes"></span>.</li>
            <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span></strong><strong> <span translate="violatesLawsRegulations"></span></strong><span translate="MemberNeverPost"></span> </li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span>  </strong><strong><span translate="Defamatory"></span></strong><span translate="MemberNeverPost"></span> .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span> </strong><span translate="MemberIllegalCont"></span> <span translate="MemberIllegalPost"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><strong><span translate="MemberGossipingInaccurateInfo"></span> </strong><span translate="MemberIllegalPost"></span> .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><strong> <span translate="MemberVirusProgrammingRoutines"></span></strong><span translate="MemberIllegalPost"></span>  .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <strong> <span translate="MemberVirusProgrammingRoutines"></span></strong> <span translate="MemberIllegalPost"></span>.</li>
        </ul>
    </div>
      </div>
<br><br>
    </div>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
      <div class="sec-list">
        <h3 class="font-mobile">3.<span translate ="FalseAndIllegal"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span> </strong> <span translate="MemberReportViolation"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberEngFalse"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberCreatMulAcc"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberSiteIllegalMoney"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><span translate="MemberFalseFeedback"></span> .</li>
        </ul>
    </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="sec-right">
        <h3 class="font-mobile">4.<span translate:"Communication"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberExaggAbstain"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberNeqUnfairCritProf"></span> </li></ul>
      </div>
      </div>
<br><br>
    </div>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
        <div class="thrd-first">
        <h3 class="font-mobile">5.<span translate:"ContestAndProjectSupp"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span></strong> 수수료를 피하기 위해 지원(입찰)금액을 낮게하면 안됩니다.
     </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersDirectTransacAvoidFee"></span> </strong>
            </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersParticipateProConLifeConven"></span></strong>
        </li></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
     <div class="thrd-right">
        <h3 class="font-mobile">6.<span translate:"SpamAndAdvert"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
          <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MemberSpamAdver"></span></strong>
          </li>
    <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MemberSpamEmail"></span></strong>
        </li>
        </ul>
    </div>
      </div>
      </div>
<br><br>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
        <div class="thrd-first">
        <h3 class="font-mobile">7.<span translate:"Confidentiality"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MemberConfidentiality"></span></strong>
            </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MemberDiscloseInfo"></span></strong>
        </li></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
     <div class="thrd-right">
        <h3 class="font-mobile">8.<span translate:"ContactUs"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
          <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate:"MemberNotReqInfo"></span></strong>
    <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate:"MemberFacetofaceMeet"></span></strong>
          </li>
          </li>
        </ul>
    </div>
      </div>
    </div>
<br><br>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
       <div class="fourth-first">
        <h3 class="font-mobile">9.<span translate:"AffiliateRelated"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate:"MemberAffiliateRelated"></span> </strong>
            </li>
           </ul>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="fourth-right">
        <h3 class="font-mobile">10.<span translate:"PaymentPayment"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>  <span translate:"MemberPayment"></span></strong>
        </li></ul>
  </div>
      </div>

    </div>
</div>
</section>
