<div class="row project-backgroundimage5 hidden-xs">
    <div class="container about-investor-title-setting">
<br>
        <h3 class="investor-heading p-t-sm" style="font-size:20px;"><span translate="OutsourcingOKUsers"></span></h3>
        <h3 class="investor-para">

        </h3>
        <br><br>
      </div>
  </div>

<section autoscroll="true" class="container-fluid p-ml-none p-mr-none" ng-controller="ProjectsController">
<br><br>
<div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid text-justify p-ml-none p-mr-none term_box" aria-label="Content" style="margin-top:20px;margin-bottom:70px;"><br>
   <div class="col-xs-12 thumbnail bordortop_styling">
        <h2 class="h2-mobile-font"><strong><span translate="UserRules"></span></strong></h2>
        <p style="font-size:16px" translate="ParaUserRules" ></p>
    </div>

   <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
       <div class="list-first">
         <h3 class="font-mobile">1.<span translate="MembershipObligations"></span></h3>
         <ul class="list-unstyled" style="line-height: 30px;">
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberTruehonest"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberComPolicy"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberComPolicy"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShouldNot"></span></strong> <span translate="MemberDisInfoLaw"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberHarass"></span></li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span></strong> <span translate="MemberSafety"></span> </li>
             <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersMust"></span></strong> <span translate="MemberIndentity"></span> </li>      </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="list-right">
        <h3 class="font-mobile">2.<span translate="UserContent"></span></h3>
        <strong style="line-height: 39px;"><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersRespContPosted"></span></strong>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span> </strong> <strong><span translate="CopyrightOrIntellectualParty"></span> </strong><span translate="MemberContentInfringes"></span>.</li>
            <li><strong> <span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span></strong><strong> <span translate="violatesLawsRegulations"></span></strong><span translate="MemberNeverPost"></span> </li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span>  </strong><strong><span translate="Defamatory"></span></strong><span translate="MemberNeverPost"></span> .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span> </strong><span translate="MemberIllegalCont"></span> <span translate="MemberIllegalPost"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><strong><span translate="MemberGossipingInaccurateInfo"></span> </strong><span translate="MemberIllegalPost"></span> .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><strong> <span translate="MemberVirusProgrammingRoutines"></span></strong><span translate="MemberIllegalPost"></span>  .</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <strong> <span translate="MemberVirusProgrammingRoutines"></span></strong> <span translate="MemberIllegalPost"></span>.</li>
        </ul>
    </div>
      </div>
<br><br>
    </div>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
      <div class="sec-list">
        <h3 class="font-mobile">3.<span translate ="FalseAndIllegal"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="Members"></span> </strong> <span translate="MemberReportViolation"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberEngFalse"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberCreatMulAcc"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberSiteIllegalMoney"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong><span translate="MemberFalseFeedback"></span> .</li>
        </ul>
    </div>
      </div>
      <div class="col-xs-12 col-md-6">
       <div class="sec-right">
        <h3 class="font-mobile" translate="Communication4"></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberExaggAbstain"></span>.</li>
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MembersShould"></span></strong> <span translate="MemberNeqUnfairCritProf"></span> </li></ul>
      </div>
      </div>
<br><br>
    </div>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
        <div class="thrd-first">
        <h3 class="font-mobile" translate="ContestAndProjectSupp"></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersShould"></span></strong> <span translate="MembersLowSuppAvdComm"></span>
     </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersDirectTransacAvoidFee"></span> </strong>
            </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MembersParticipateProConLifeConven"></span></strong>
        </li></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
     <div class="thrd-right">
        <h3 class="font-mobile" translate="SpanAndAdvert"></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
          <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MemberSpamAdver"></span></strong>
          </li>
    <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MemberSpamEmail"></span></strong>
        </li>
        </ul>
    </div>
      </div>
      </div>
<br><br>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
        <div class="thrd-first">
        <h3 class="font-mobile" translate="Confidentiality"></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MemberConfidentiality"></span></strong>
            </li><li><strong><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MemberDiscloseInfo"></span></strong>
        </li></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
     <div class="thrd-right">
        <h3 class="font-mobile" translate="ContactUs8"></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
          <li><strong ><span class="glyphicon glyphicon-ok verificationcheck imgcricle"> </span> <span translate="MemberNotReqInfo"></span> </strong>
    <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span> <span translate="MemberFacetofaceMeet"></span></strong>
          </li>
          </li>
        </ul>
    </div>
      </div>
    </div>
<br><br>
     <div class="col-xs-12 thumbnail bordortop_styling" style="margin-top:30px;">
      <div class="col-xs-12 col-md-6">
       <div class="fourth-first">
        <h3 class="font-mobile">9.<span translate="AffiliateRelated"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span><span translate="MemberAffiliateRelated"></span> </strong>
            </li>
           </ul>

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="fourth-right">
        <h3 class="font-mobile">10.<span translate="PaymentPayment"></span></h3>
        <ul class="list-unstyled" style="line-height: 39px;">
            <li><strong><span class="glyphicon glyphicon-ok verificationcheck imgcricle"></span>  <span translate="MemberPayment"></span></strong>
        </li></ul>
  </div>
      </div>

    </div>
</div>
</section>
