<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="FeeandCharges"></h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section autoscroll="true" ng-controller="ProjectsController">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid about-security-feesandcharges p-ml-none p-mr-none term_box" style="margin-top:20px;margin-bottom:70px;"><br>
    <h2 class="about-security-feesandcharges-title" translate="FeeandCharges"> </h2>
    <hr>
    <section>
      <h3 class="fee-prjct-section"><b>1.<span translate="feesforClients"></span></b></h3>
      <section class="fee-prjct-section"><br>
        <h4 class="h3-mobile-font">
          <a name="projectfees"></a></b></h3>
          <strong translate="FreeRegistrationClient"> </strong>
        </h3>
        <p class="text-justify list-setng-fee">
          <span translate="OutSourcingOKPostProjectReceive"></span></p>
        </p>
        <p class="text-justify list-setng-fee">
          <span translate="Typeofproject"></span>
        </p>
        <p class="text-justify list-setng-fee">
          <span translate="Cancelproject"></span>
		 </p>

		 </section><br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><a name="contestfees"></a><b translate="VideoFeeClient"></b></h4>
        <p class="text-justify list-setng-fee">
          <span translate="UsingVideoChat"></span>
        </p>
		<p class="text-justify list-setng-fee">
      <span translate="FreeProjVideoChatPayed"></span>        
    </p>
		<p class="text-justify list-setng-fee">
          <span translate="PurchaseNotCanceled"></span>
      </section><br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><a name="contestfees"></a><b translate="RegistrationContest"></b></h4>
        <p class="text-justify list-setng-fee">
          <span translate="ClientDepositTotalPrize"></span>
        </p>        
        <p class="text-justify list-setng-fee">
          <span translate="GuaranteedContestsNotRefunded"></span>
        </p>

        <p class="text-justify list-setng-fee"><span translate="RegistrationContestAwardingPrizeisFree"></span></p>
        <p class="text-justify list-setng-fee"><span translate="AdditionalPrizeForCompetition"></span></p>

      </section>
      <section class="fee-prjct-section"><br>
        <h4 class="h3-mobile-font"><b translate="VariousLivingServicesFee"></b></h4>

        <p class="text-justify list-setng-fee">
          <span translate="IfSatisifiedGivePaymentApproval"></span>
        </p>
		
      </section>
    
<br>
    <section class="fee-prjct-section">
      <h3 class="fee-prjct-section"><b>2.<span translate="FeesForClient"></span></b></h3>
      <p class="text-justify list-setng-fee">
        <span translate="FirstSubscribeOutsourcingOKMember"></span>
	 </p>
	 </section>

	 <br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b translate="RequestSupportCount"></b></h4>
        <p class="text-justify list-setng-fee">
          <span translate="LimitNoOFSupport"></span>
          </p>
		  <p> <span translate="IfMoreThenLimit"></span></p>	          

          </section>

<br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b translate="FreelanceProjectFee"></b></h4>
        <p class="text-justify list-setng-fee">
          <span translate="ProjectSupportVideoChat"></span>
          </p>
		  <p> <span translate="CalculationMethodoneMillion"></span> </p>
		   <p><span translate="MillionWonwithVAT"></span></p>
		   <p><span translate="AmountOfFreelancers"></span></p>
		   <p><span translate="AmountReceivedByFreelancers"></span></p>
		 
         

          </section>
<br>
          <section class="fee-prjct-section">
            <h4 class="h3-mobile-font"><b translate="FreelanceFees"></b></h4>
            <p class="text-justify  list-setng-fee">
              <span translate="SupportForContest"></span>
            </p>
			<p> <span translate="CalculationMethodPrizeoneMillion"></span> </p>
		   <p><span translate="MillionWonwithVAT"></span></p>
		   <p><span translate="AmountReceivedByFreelancers99"></span></p>
		   <p><span translate="AmountReceivedByFreelancers87"></span></p>
		 

          </section>
<br>
          <section class="fee-prjct-section">
            <h4 class="h3-mobile-font"><b translate="VariousLivingServicesRecruitmentFee"></b></h4>
            <p class="text-justify list-setng-fee">
              <span translate="FreelancerEmployedServiceFee"></span>
            </p>
			<p> <span translate="EmploymentOneMillion"></span> </p>
		   <p><span translate="EmploymentOnepointOneMillion"></span></p>
		   <p><span translate="AmountReceivedByFreelancers93"></span></p>
		   <p><span translate="AmountReceivedByFreelancers82"></span></p>
          </section>          
          
        </section>

        <!-- next -->
<br>

		<br>
    <section class="fee-prjct-section">
      <h3 class="fee-prjct-section"><b>3.<span translate="FeesForUsingPayPal"></span> </b></h3>      
	 </section>

	 <br>
      <section class="fee-prjct-section">
        <h4 class="h3-mobile-font"><b translate="PayPalPaymentFee"></b></h4>
        <p class="text-justify list-setng-fee">
          <span translate="WhenUsePaypalFees"></span>
          </p>
		  <p> <span translate="PayPalPolicy"></span></p>	          

          </section>


        <!-- next -->
        
<br>
        <!-- table 1  -->
        <section class="fee-prjct-section">
		  <h3 class="fee-prjct-section"><b>4. <span translate="OtherFees"></span></b></h3>
         
<br><br>

			<h4 class="h3-mobile-font"><a name="projectupgrades"></a><b translate="VideoChatfee"></b></h4>
          <p class="text-justify list-setng-fee">
            <span translate="AdditionalServicesVideo"></span> :
          </p>


          <div class="container-fluid  profile_container bordortop_styling ">        
            <div class="row returnslables div-background">
              <div class="col-xs-6">
                <span translate="Video30daysFee"></span> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="5000wonExcludingtax"></strong></span>
              </div>
            </div>

          </div>



          <h4 class="h3-mobile-font"><a name="projectupgrades"></a><b translate="mProject"></b></h4><br>
          <p class="text-justify list-setng-fee">
            <span translate="OptionalServiceCharges"></span> :
          </p><br>


          <div class="container-fluid  profile_container bordortop_styling ">        
            <div class="row returnslables div-background">
              <div class="col-xs-6">
                <span translate="ProjectRegistration"></span> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="urgent"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Urgent" uib-popover="Marks a project as urgent. Receive a faster response from Freelancers to get your project started within 24 hours." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="PrivateA"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Priate" uib-popover="Hide project details from search engines and users that are not logged in. Recommended for projects where confidentiality is a must" popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>


            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Hire"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Recruiter" uib-popover="Our agent will clarify the project with you if necessary and will recommend a bidder based on your project requirements and the online bidder profile. The agent may also invite more freelancers to bid." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Private"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="NDA" uib-popover="OutsourcingOk are prompted to sign a Non-Disclosure Agreement when working on a project. Freelancers agree to keep details discussed through private messages and files confidential." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Recommendation"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

			 <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Highlight"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

			<div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="NondisclosureAgreementNDA"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Seal all bids so that Freelancers cannot see what others are bidding." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

			 

            

          </div>
          <!-- table 2-->

          <h3 class="FeesAndCharges-subsection-title"><a name="contestupgrades"></a><b translate="ContestRegistration"></b></h3><br>
          <p class="text-justify list-setng-fee">
            <span translate="OptionalServiceCharges"></span> :
          </p><br>
          <div class="container-fluid  profile_container bordortop_styling ">       
            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="ContestRegistration"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Posting a Contest" uib-popover="Free to post a contest and receive entries. A monetary prize must be paid upfront to release as payment for work provided. Optional contest upgrades incur additional costs. Employers are eligible for a 100% money back guarantee." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i>  
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Private"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Awarding contest" uib-popover="There are no fees for awarding a prize for a contest entry. Employer will be transferred to the handover process to legally transfer ownership of the files." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Awardingtoaddfreelancers"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Awarding to additional freelancers" uib-popover="There are no fees for awarding additional entries a prize. Payment must be provided equal to the original prize amount for each additional entry awarded." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Guarantee"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Guaranteed" uib-popover="Guarantee freelancers that a winner will be chosen and awarded the prize. This will attract better entries from more freelancers. The money back guarantee is not applicable for Guaranteed contests.." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Recommendation"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Featured" uib-popover="Featured contests attract more, higher-quality entries." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Highlight"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Top Contest" uib-popover="Get high quality entries! Top freelancers will be automatically invited to join your contest." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>



            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="urgent"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Urgent" uib-popover="Receive a faster response from freelancers and get your favorite entry in 1-2 days. Your contest will be guaranteed to make sure you get fast results." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="NondisclosureAgreementNDA"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="Sealed" uib-popover="Only you can see all the entries. Each freelancer can only see their own entry. It ensures you get unique ideas." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>
            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Private"></span>
                <i class="fa fa-question img-circle-btn verificationcheck" popover-title="private" uib-popover="Keep your contest confidential. Private contests are hidden from search engines and public users." popover-trigger="'mouseenter'" style="padding-left: 4px;" aria-hidden="true"></i> 
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won1000"></strong></span>
              </div>
            </div>

         </div>   

<br> <br>                

          <!-- table 4 -->

          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b translate="ContestFee"></b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="Participationfee"></span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i> -->  
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="SubmitPrivately"></span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong translate="Free"></strong></span>
              </div>
            </div>
            
          </div> 

          <!-- table 5 -->

           
<br><br>
          <!-- table 6 -->
          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b translate="Support50TimesCost"></b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">
            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="AddedSupport50times"></span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won2000ExcludingTax"></strong></span>
              </div>
            </div>
          </div> 
           
<br><br>
          <!-- table 6 -->
          <h4 class="h3-mobile-font"><a name="bidupgrades"></a><b translate="TransferFee"></b></h4><br>
          <div class="container-fluid  profile_container bordortop_styling ">
            

            <div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="TransferFeeWireTransfer"></span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong translate="Won25000"></strong></span>
              </div>
            </div>

			<div class="row returnslables div-background">
              <div class="col-xs-6  ">
                <span translate="PayPalFees"></span>
                <!-- <i class="fa fa-question img-circle-btn verificationcheck" style="padding-left: 4px;" aria-hidden="true"></i>  -->
              </div>
              <div class="col-xs-6">
                <span><strong translate="YouBear"></strong></span>
              </div>
            </div>

          </div> 

          <!-- table 7 -->
<br><br>
          <section>
            <h4 class="h3-mobile-font"><b><span translate="ClientPaidFreelancer"></span><span style="color:red" translate="ExceptContestandPaymentofEmp"></span><span translate="SupportingMediation"></span></b></h4>
            
            
            <p class="text-justify list-setng-fee">
              <span translate="KoreanCommercialArbitrationBoard"></span>
            </p>
            <p class="text-justify list-setng-fee">
              <span translate="ResolveDisputeQuickly"></span>
            </p>
			<p class="text-justify list-setng-fee">
              <span translate="Ruling"></span>
            </p>
			<p class="text-justify list-setng-fee">
         <span translate="AmountofSupport"></span>
            </p>
          </section>
          <!-- last table -->
<br><br>
          <section>
            <h4 class="h3-mobile-font"><b translate="FreelancerPaymentRelatedTaxes"></b></h4>
            <p class="text-justify list-setng-fee">
              <span translate="OutsourcingOKCommission"></span></p>
            <p class="text-justify list-setng-fee">
			 1. <span translate="IndividualCorporateFreelancer"></span></p>			
			<p class="text-justify list-setng-fee">
              · <span translate="NeedTosIssueTaxInvoice"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="AfterProjectCompletion"></span>
            </p>
			<p class="text-justify list-setng-fee">
              2. <span translate="PersonalFreelancer"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="WithholdingtaxCommissionfee"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="PaymentWithin24Hours"></span>
            </p>
          </section>

		  <section>
            <h4 class="h3-mobile-font"><b translate="FreelancerPaymentTaxes"></b></h4>
            <p class="text-justify list-setng-fee">
              <span translate="ContestComp"></span></p>
            <p class="text-justify list-setng-fee">
			 1. <span translate="IndividualCorporateFreelancer"></span></p>			
			<p class="text-justify list-setng-fee">
              · <span translate="IssueTaxInvoice"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="Fee10percent"></span>
            </p>
			<p class="text-justify list-setng-fee">
              2. <span translate="PersonalFreelancer"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="withholdingCommissionOutsource"></span>
            </p>
			<p class="text-justify list-setng-fee">
              · <span translate="AllRightsTransfer"></span>
            </p>
          </section>

          <section>
            <h4 class="h3-mobile-font"><b translate="UserAgreement"></b></h4>
            <p class="text-justify list-setng-fee">
              <span translate="OutSourcingOKGovernFees"></span>
              <a ui-sref="term-condition" translate="UserAgreement"></a> <span translate="RelatedSitePolicies"></span>
            </p><br><br>
          </section>
        </section> 
      </div>
    </section>
