<style>
body{    
	background:#fff;
}
</style>

<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="howToUseOutSourcing"></h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section ui-view autoscroll="true">
   <!-- part 1 -->
   <br class="hidden-xs"><br class="hidden-xs">
   <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 p-ml-none p-mr-none">
      <div class="col-xs-12 col-xs-12 col-md-6 p-ml-none p-mr-none">

      <br><br>
        <h3 class="h1-mobil-privacy"><strong translate="YouCanRegister"></strong></h3>

<br>
         <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="AllKindsOfProjects"></span></p> 		 
		 <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="ExpertiseAndCreative"></span> </p>
		 <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="OutsourcingOKWorldclass"></span></p>
         <br>
           <ul>
             <li translate="YouCanChoose"></li>
             <li translate="YouCanRegister"></li>
			       <li translate="ItIsPossible"></li>
           </ul>
           <br>

           <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="AtTheMoment"></span> </p> 
		   <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="TheScopeOf"></span> </p>
		   <p><img src="modules/core/client/img/customimages/main_icon3.png"> <span translate="ProjectAmounts"></span></p>
          
          <br><br>
        <button class="btn btn-success" ui-sref="projects.project-post" translate="postProject"></button>
        <br><br><br><br><br>
       
      </div>

      <!-- Right side, user info -->
      <div class="col-xs-12 col-xs-12 col-md-3 p-ml-none p-mr-none col-md-offset-2" style="padding-top:50px;"> 
        <img class="img-responsive img-circle" src="modules/core/client/img/customimages/about.outsource.image01.png">
          <br>
      </div>
  </div>

  <!-- part 2 -->

  <div class="row">
   
    
       <img class="img-responsive" src="modules/core/client/img/customimages/outsourcingokpic.png" />
   
  </div>

<!-- 3rd div -->
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 m-ml-none m-mr-none">



<br>
   <div class="container-fluid p-ml-none p-mr-none" style="padding-left: 1.5rem;">
      <div class="col-xs-12 col-xs-12 col-md-6 p-ml-none p-mr-none">

      <br><br>
        <h3><strong translate="howToRegister"></strong></h3>
        <br>
         <h4><img src="modules/core/client/img/customimages/main_icon4.png"> <span translate="ProjectRegistration"></span></h4>
        <br>
        <p translate="AfterRegistering"> </p>
        <br>
      <h4><img src="modules/core/client/img/customimages/main_icon5.png"> <span translate="HowToChoose"></span></h4>
         <br>
           <ul>
             <li translate="BeSure"></li>
             <li translate="ShouldUse"></li>
             <li translate="YouHaveToCompare"></li>
             <li translate="IfYouWantFaceToFace"></li>
		 </ul>
          <br>
		     <br>
      <h4><img src="modules/core/client/img/customimages/main_icon6.png"> <span translate="MeetingAndContract"></span></h4>
         <br>
           <ul>
             <li translate="SelectASuitable"></li>
             <li translate="FreelanceAndFaceToFace"></li>
             <li translate="AdditionalWork"></li>
      			 <li translate="InCaseOfOffline"></li>
      			 <li translate="AnOutSourcingOkContract"></li>
      			 <li translate="TheContractWill"></li>
      			 <li translate="ItIsDoneBy"></li>
          </ul>
          <br>
           <h4><img src="modules/core/client/img/customimages/main_icon7.png"> <span translate="PayWhenYour"></span></h4>

            <p translate="TheEscrowSafePaymentSystem"></p>
  
          <br>
        <button class="btn btn-success" ui-sref="projects.project-post" translate="postProject"></button>
        <br><br>
       
      </div>

      <div class="col-xs-12 col-xs-12 col-md-5 p-ml-none p-mr-none col-md-offset-1 text-center" style="padding-top:50px;"> 
        <img class="img-responsive img-circle" src="modules/core/client/img/customimages/about.outsource.image02.png">
          <br>
      </div>
  </div>
  <br><br><br>

<!-- 4rd div -->
   <div class="row" style="background-color: #DCDCDC">
      <br>
      <div class="col-xs-12 col-xs-12 col-md-5 p-ml-none p-mr-none"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/about.outsource.image03.png">
      </div>
      <br>

      <div class="col-xs-12 col-xs-12 col-md-7">
      <br><br>
        <h4><strong translate="FreelancersCanCheck"></strong></h4>
        
        <p class="text-justify p-mr-none" style="padding-right: 3.4rem;"> <span translate="OutsourcingOKIsSetUp"></span><br><br>
            <span translate="YouCanEasilySend"></span><br><br>
            <span translate="YouOnlyHaveToPay"></span></p>
        <br>
     
          <br><br>
      </div>

  </div>
<!-- 5th -->
  <div class="container-fluid p-ml-none p-mr-none" style="padding-left: 1.5rem;">
      <br>
      <div class="col-xs-12 col-xs-12 col-md-7 p-ml-none p-mr-none">
      <br><br><br><br>
         <h3><strong translate="EscrowSafePayment"></strong></h3>
<br>      
        <h4><img src="modules/core/client/img/customimages/main_icon8.png"> <span translate="OutSourcingOKTrust"></span></h4>

           <ul>
             <li translate="TheClientEscrow"></li>
             <li translate="OnlyEscrowPayment"></li>
             <li translate="IfThereIsaProblem"></li>
            
           </ul>

      </p>
        <br>
     
          <br><br>
      </div>

      <div class="col-xs-12 col-xs-12 col-md-5 p-ml-none p-mr-none"> 
        <img class="img-responsive" src="modules/core/client/img/customimages/about.outsource.image04.png">
      </div>
      <br>
  </div><br>
<!-- 6th -->
   
   <div class="row" align="center" style="background-color: #e1e1e1">
            
         <h3 class="h4-mobil-privacy" translate="FreelancerSolves"></h3>
        <h4 translate="FreelancersCanGrow"></h4>
        <br>
         <button class="btn btn-warning" ui-sref="projects.project-post" translate="postProject"></button>
        <br><br>
     </div>

     <!-- 7th -->
<br><br><br><br><br>

      <div class=" container-fluid p-ml-none p-mr-none text-center" style="padding-left: 1.5rem;">
      <div class="col-xs-12 col-md-12 p-ml-none p-mr-none">

         <br><br>        
           <h3 class="font-mobile" translate="IfYouAreInDoubt"></h3>
           <h4 translate="OutSourcingIsAResult"></h4>
           <p translate="CompleteTheProject"></p>
          
      </div>

      </div>

<br><br>

     <!--  <div class="container-fluid p-ml-none p-mr-none">
        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image01.png" alt="doodle"> 
          </a> 
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#">Logo Design</a></h3>
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">$30 USD - 2 days</h5>
            
        </div>
      </div> 

       <div class="col-xs-12 col-sm-6 col-md-3 p-mt-lg p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image02.png" alt="doodle"> 
          </a> 
         <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#">Logo Design</a></h4>
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">$30 USD -xs 2 days</h5> 
        </div>
      </div> 

        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image03.png" alt="doodle"> 
          </a> 
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#">Design an iOS App</a></h4> 
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">$300 USD - 4 days</h5>
        </div>
      </div> 

        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image06.png" alt="doodle"> 
          </a>
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#">Design an Website</a></h4>
          <hr class="m-t-xs m-b-xs">  
          <h5 class="p-l-md m-t-md p-b-sm">$500 USD - 7 days</h5>
        </div>
      </div> 
    
    </div> -->

<br><br>

      <div class="container-fluid p-ml-none p-mr-none">
        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image01.png" alt="doodle"> 
          </a>
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#" translate="BuildingAShoppingMall"></a></h4>  
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">15,000,000원 - 90 <span translate="DailyWork"></span></h5> 
        </div>
      </div> 

       <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image02.png" alt="doodle"> 
          </a>
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#" translate="WearableDevelopment"></a></h4> 
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">65,000,000원 - <span translate="yearAndMonths"></span></h5>  
        </div>
      </div> 

        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image03.png" alt="doodle"> 
          </a>
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#" translate="3Ddesign"></a></h4>  
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md p-b-sm">750,000원 - 14 <span translate="DailyWork"></span></h5> 
        </div>
      </div> 

        <div class="col-xs-12 col-sm-6 col-md-3 p-ml-none p-mr-none p-mt-lg">
         <div class=" logo-design-pic">
          <a href="#" class="p-b-sm">
            <img class="img-responsive" class="text-center " src="modules/core/client/img/customimages/image06.png" alt="doodle"> 
          </a>
          <h4 class="p-l-md m-t-xs m-b-sm"><a ng-href="#" translate="3Ddesign"></a></h4> 
          <hr class="m-t-xs m-b-xs">
          <h5 class="p-l-md m-t-md p-b-sm">400,000원 - 7 <span translate="DailyWork"></span></h5>  
        </div>
      </div>
	  <br><br>
        <div class="col-xs-12 text-center p-t-lg">
          <button class="btn btn-warning btn-lg" ui-sref="projects.project-post" translate="postProject"></button><button class="btn btn-warning btn-lg" ui-sref="contests.contest-post" style="margin-left:30px" translate="PostContest"></button>
        </div>
    </div>

<!-- 7th -->
<br><br><br><br><br>
     <div class="col-xs-12 col-md-12 advrt-pagess p-ml-none p-mr-none" style="font-weight:bold; padding-left: 3rem;">  
     <br><br>    
        <h3><strong translate="help"></strong></h3>
		<br>
        <h4><img src="modules/core/client/img/customimages/main_icon9.png"> <span translate="CheckOut"></span></h4>
        <br>
          <div class="col-xs-12 col-md-6 p-l-none">
             <a ui-sref="support" translate="ContestOrProjectRegistration"></a><br>
            <a ui-sref="support" translate="howToPay"></a>
          </div>

          <div class="col-xs-12 col-md-4 p-ml-none">
            <a ui-sref="support" translate="HowToChooseRight"></a><br>
           <a ui-sref="support" translate="HowToOperateClient"></a>
          </div>
      </div>


</div>

<br><br>


</section>
