<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="OutsourcingOkPrivacyPolicy"></h3>
            <h3 class="investor-para">
               
            </h3>
            <br><br>
          </div>
      </div>

<section class="container-fluid p-ml-none p-mr-none">
  <br><br>
    <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid p-l-lg p-r-lg list-setng-fee text-justify  p-ml-none p-mr-none term_box" aria-label="Content" style="margin-top:20px;margin-bottom:70px;"><br>
        <h2 class="h1-mobil-term"><strong translate="PrivacyStatement"></strong></h2>
        <p><span translate="CompanyPolicy"></span></p>
        <p><span translate="CompanyNotify"></span></p>
              
        <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article1"></strong></h3>
		<p><span translate="CompanyGiveImportanceToUserData"></span></p>

        <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article2"> </strong></h3>
         <ol class="p-ml-md">
		<li> <span translate="CompanyPurpose"></span></li>
		 
    <p><span translate="PersonalInfo"></span></p>

	</ol>
	 <p>
    </p>
	
    <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article3"></strong></h3>
    <ol class="p-ml-md">
      <li><span translate="SmoothService"></span></li>
       <p><span translate="ServiceInfo"></span></p>
       <p><span translate="AccountInfo"></span>  </p>

       <li><span translate="MemberInfo"></span></li>
      <p><span translate="IdentityInfo"></span></p>
      <li><span translate="InfoOfClubMem"></span></li>
	  <p><span translate="Ipinfo"></span></p>
      <p><span translate="Chatinfo"></span> </p>
	  <p><span translate="AutoInfo"></span> </p>
      
    </ol>
    <h3 class="font-mobile"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span><strong translate="Article4"> </strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="HumanRightInfo"></span></li>
      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article5"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="InfoCollectWays"></span></li>
      <p>   <span translate="ThroughProvision"></span></p>
      <p>	<span translate="InfoTools"></span></p>
	  </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article6"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="FollowingPurpose"></span></li>
      <p> <span translate="PreventFraudulent"></span></p>
      <p> <span translate="ConfirmIdentity"></span></p>
	   <p><span translate="SettleFees"></span></p>
       <p><span translate="CustomizedServices"></span></p>
	  </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article7"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="NotUseBeyondAgreement"></span></li>
     <p>	<span translate="PublicConsent"></span></p>
	 <p>	<span translate="InvestigatingAgency"></span></p>
	 <p>	<span translate="BothParties"></span></p>
	 <p>	<span translate="CompanyAcquirerAssignee"></span></p>
     </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article8"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="ThirdParties"></span></li>
     </ol>
	  <p>
       </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article9"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="NotEntrust"></span></li>
	  <li><span translate="RequiredEntrust"></span></li>
	  <p> <span translate="NotifyMembers"></span></p>
	  </ol>

	  <p>
    </p>
	 </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article10"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="InfoWillDestroyed"></span></li>
      <li><span translate="ProtectionOfInfo"></span></li>
	  </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article11"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="PreventDisputes"></span></li>
      <p><span translate="PrincipleCancel"></span></p>
      <p><span translate="BondorDebt"></span></p>
	  <p><span translate="AfterWithdrawing"></span></p>
	  </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article12"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="Clauses"></span></li>
      <p><span translate="RecordOfWidraw"></span> </p>
	  <p><span translate="RecordsOfPayment"></span></p>
	  <p><span translate="Exceeding10000"></span></p>
      <p><span translate="Lessthan10000"></span></p>
	  <p><span translate="RecordOfComplaints"></span></p>
      <p><span translate="RecordOfCreditCard"></span></p>
	  <p><span translate="RecordsOfAdvertisements"></span> </p>
      <p><span translate="RecordOfIdentity"></span> </p>
	  <p><span translate="TelecommunicationRecord"></span></p>
	  <p><span translate="ComputerCommunication"></span></p>
	  <p><span translate="RetentionPeriod"></span> </p>
	 </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article13"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="InfoDestroyedAfterUse"></span></li>
      <li><span translate="ProceduresDeadlinesMethods"></span></li>
      <p><span translate="DestructionProcedure"></span></p>
      <p><span translate="DestructionTerm"></span></p>
      <p><span translate="DestructionMethod"></span></p>
      </ol>
	  <p>
    </p>
		<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong> 제 14 조 개인정보의 수집, 이용, 제공에 대한 동의 철회</strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="MemberWithdraw"></span></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article15"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="MemberRights"></span></li>
      <p><span translate="RequestView"></span></p>
      <p><span translate="ErrorCorrection"></span></p>
      <p><span translate="RequsetDeletion"></span></p>
	  <p><span translate="ProcessingStop"></span></p>
	  <li><span translate="ExerciseOfRights"></span></li>
      <li><span translate="LegalRepresentative"></span></li>
      </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article16"></strong></h3>
	<p>
     <ol class="p-ml-md">
	  <li><span translate="Under14Rule"></span></li>
      <li><span translate="NoContractorUnderAge14"></span></li>
      <li><span translate="WeReflectFollowing"></span></li>
	  <li><span translate="ChildCorrectPersonalInfo"></span></li>
	  <li><span translate="InspectionCertification"></span></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article17"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="TerminationDeletionAmendment"></span></li>
      <li><span translate="MemberModifyPersonalInfo"></span></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article18">  </strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="ServiceUseInfo"></span></li>
	  <li><span translate="CookiesToStoreMemberInfo"></span></li>
		<p><span translate="CookiePurpose"></span></p>
		<p><span translate="OptimisedInfo"></span></p>

		<p><span translate="InstallationOperationDenialCookies"></span></p>

		<p>① <span translate="MemberHaveOptions"></span></p>

		<p>② <span translate="InternetExplorer"></span></p>

		<p>③ <span translate="IfRefuseCookieStore"></span></p>

	  
	 </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article19"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="MinimizationOfPersonalInfo"></span></li>
	<p><span translate="CompanyEmployeeHandlesPersonelInfo"></span></p>
      
	  <li><span translate="SelfAudits"></span></li>
	    <p><span translate="QuarterlyAudits"></span>></p>
      
	  <li><span translate="InternalManagementPlan"></span></li>
	    <p><span translate="SafeHandling"></span></p>

	  <li><span translate="PersonalInfoEncryption"></span> </li>
	    <p><span translate="OnlyUserCanAccess"></span></p>

	  <li><span translate="TechnicalMeasures"></span> </li>
	    <p><span translate="PreventLeakage"></span></p>

	  <li><span translate="RestrictAccessToPersonalInfo"></span> </li>
	    <p><span translate="NecessaryMeasures"></span></p>

	  <li><span translate="ConnectionHistory"></span></li>
	    <p><span translate="KeepInfoSixMonths"></span></p>

	  <li><span translate="UseLocks"></span></li>
	    <p><span translate="SafePlaceWithLock"></span></p>

	  <li><span translate="ControlToUnauthorized"></span></li>
	    <p><span translate="AccessControlForPhysicalStorage"></span></p>

	  <li><span translate="BusinessPurpose"></span></li>
	    <p><span translate="WeEducateEmployee"></span></p>

	  


	   </ol>
	  <p>
      </p>

 <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article20"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
    <li><span translate="SafeUseInformation"></span></li> 
	  <li><span translate="MemberSelectsPersons"></span></li>
      <p><span translate="PersonalInfoManager"></span></p>
      <p><span translate="CompName"></span></p>
      <p><span translate="CompAddress"></span></p>
	  <p><span translate="Kim"> </span></p>
	  <p><span translate="CeoPosition"></span></p>
	  <p><span translate="ContactNo"></span></p>
	  <p><span translate="EmailAdmin"></span></p>
	  <p><span translate="LeadsToDepartment"></span></p>
      <p></p>
     <p></p>
	   <p><span translate="PersonalInfoManagementDepartment"></span></p>
      <p><span translate="CompName"></span></p>
      <p><span translate="CompAddress"></span></p>
	  <p><span translate="DeptInfoManagement"></span></p>
	  <p><span translate="ContPerson"></span></p>
	  <p><span translate="ContactNo"></span></p>
	  <p><span translate="EmailAdmin"></span></p>
	  </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article21"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="MemberCanReqToViewPersonalInfo"></span></li>
	  <p><span translate="CompName"></span></p>
      <p><span translate="CompAddress"></span></p>
	  <p><span translate="DeptInfoManagement"></span></p>
	  <p><span translate="ContPerson"></span></p>
	  <p><span translate="ContactNo"></span></p>
	  <p><span translate="EmailAdmin"></span></p>
     </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article22"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="NotifyKey"></span></li>
	  <li><span translate="ObtainFurtherConsent"></span></li>
	  <li><span translate="CompanyNotifyMember"></span></li>
	  <li><span translate="ConsentOfLegalRepresentative"></span></li>
      </ol>
	  <p>
    </p>
	<p>
    </p>
	<h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article23"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="DontTransmitInfoForCommercialUse"></span></li>
	  <li><span translate="UserAgreeToSendEmail"></span></li>
	 <p><span translate="SubjectOfEmail"></span></p>
     <p><span translate="BodyOfEmail"></span></p>
	  <li><span translate="IfAdvertisementInfo"></span></li>
      <p><span translate="TitleOfEmail"></span></p>
      <p><span translate="BodyOfEmail2"></span></p>
       <p><span translate="Specify"></span></p>

	  <li><span translate="CompanyIndicate"></span></li>
      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font" style="padding-top:20px"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Appendix"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <p><span translate="PolicyEffective"></span></p>
      
      </ol>
	  <br><br>
	</div>
	<div><br><br><br><br></div>
</section>
