<div class="row project-backgroundimage5 hidden-xs">
        <div class="container about-investor-title-setting">
<br>
            <h3 class="investor-heading p-t-sm" style="font-size:20px;" translate="OutsourcingTermsConditions"></h3>
            <h3 class="investor-para">

            </h3>
            <br><br>
          </div>
      </div>

<section class="container-fluid p-ml-none p-mr-none">
  <br><br>
    <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 container-fluid p-l-lg p-r-lg list-setng-fee text-justify  p-ml-none p-mr-none term_box" aria-label="Content" style="margin-top:20px;margin-bottom:70px;"><br>
        <h2 class="h1-mobil-term"><strong translate="OutsourcingTermsConditions"></strong></h2>
        <p><span translate="RequiredForUse"></span> </p>
        <p><span translate="OutsourcingTermsdescribes"></span></p>
        <h3 class="h2-mobile-font"><strong translate="Contents"></strong></h3>
        <p><b><span translate="Purpose"></span></b></p>
        <p><b translate="Definations"></b></p>
		<p><b translate="Publication"></b></p>
		<p><b translate="Membership"></b></p>
		<p><b translate="ContractForUse"></b></p>
		<p><b translate="Obligations"></b></p>
		<p><b translate="Provision"></b></p>
		<p><b translate="Protection"></b></p>
		<p><b translate="ObligationOk"></b></p>
		<p><b translate="ObligationMember"></b></p>
		<p><b translate="Penalty"></b></p>
		<p><b translate="InfoServices"></b></p>
		<p><b translate="Brokerage"></b></p>
		<p><b translate="TermsOfUse"></b></p>
		<p><b translate="ModificationOfService"></b></p>
		<p><b translate="ServicePosition"></b></p>
		<p><b translate="DeliveryOfInfo"></b></p>
		<p><b translate="Termination"></b></p>
		<p><b translate="TerminationOfOutsource"></b></p>
		<p><b translate="Sanctions"></b></p>
		<p><b translate="Prohibition"></b></p>
		<p><b translate="Exemption"></b></p>
		<p><b translate="Damages"></b></p>
		<p><b translate="Judge"></b></p>
		<p><b translate="UseOfCopyrights"></b></p>
		<p><b translate="Intellectual"></b></p>
		<p><b translate="SafetyApprovalSys"></b></p>
		<p><b translate="DisclosureStatusPayment"></b></p>
		<p><b translate="ConfirmationPayment"></b></p>
		<p><b translate="InterestIncomeFees"></b></p>
		<p><b translate="ContractPrice"></b></p>
		<p><b translate="InternationalUse"></b></p>
        <p><b translate="Arbitration"></b></p>
        <p><b translate="Appendix"></b></p>
        <p><b translate="EffectiveDate"></b></p>
        <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art1"></strong></h3>
		<p> <span translate="TermsAndConditionPurpose"></span></p>
        <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span><strong translate="Art2"></strong></h3>
        <p><span translate="UsedTerms"></span></p>
    <p><span translate="Term1"></span>
    </p>
	<p><span translate="ClientShallbeMember"></span>
    </p>
	<p><span translate="Term3"></span>
    </p>
	<p><span translate="Term4"></span></p>
	<p>①<span translate="AllKind"></span></p>
	<p>②<span translate="ContestHostingService"></span></p>
	<p><span translate="Term5"></span>
    </p>
	<p><span translate="Term6"></span>
    </p>
	<p><span translate="Term7"></span></p>
	<p><span translate="Term8"></span></p>
	<p><span translate="Term9"></span></p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art3"></strong></h3>
    <p>  </p>
    <ol class="p-ml-md">
      <li><span translate="TermCondOnScreen"></span></li>
      <li><span translate="CompShallInquire"></span></li>
      <li><span translate="CompanyAmendTermsConditions"></span></li>
      <li><span translate="RevisingTermsConditions"></span></li>
      <li><span translate="CompanyShallConfirm"></span></li>
	  <li><span translate="MemberNotAgree"></span></li>
    </ol>
    <h2 class="font-mobile"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span><strong translate="Art4"> </strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="IndentsMember"></span></li>
      <li><span translate="ServicesProvided"></span></li>
      <li><span translate="VerificcationOfName"></span></li>
      <li><span translate="NotClaimifFakeInfo"></span></li>
      <li><span translate="MemberConsentUse"></span></li>
	  <li><span translate="MembercanTerminate"></span></li>
      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art5"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="PersonWishes"></span></li>
      <li><span translate="CompanyNotApprove"></span></li>
      <p><span translate="SubPara1"></span> </p>
      <p><span translate="SubPara2"></span></p>
	  <p><span translate="SubPara3"></span></p>
      <p><span translate="SubPara4"></span></p>
	  <p><span translate="SubPara5"></span></p>
	  <p><span translate="SubPara6"></span></p>
	  <p><span translate="SubPara7"></span></p>
	  <p><span translate="SubPara8"></span></p>
	  <p><span translate="SubPara9"></span></p>
	  <p><span translate="SubPara10"></span></p>
	  <li><span translate="CompanyReserves"></li>
	  <p><span translate="SubParag1"></p>
	   <p><span translate="SubParag2"> </p>
	   <p><span translate="SubParag3"></p>
	  <li><span translate="IfMemberAgrees"></span></li>
	  </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art6"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="ComGrantMember"></span></li>
      <li><span translate="CompHaveRightManagementTask"></span></li>
      <p>	<span translate="MemberIdReg"></span></p>
      <p>	<span translate="NeedToChange"></span></p>
	   <p>	<span translate="DeemedNecessary"></span></li>
      <li><span translate="MemberResponsible"></span></li>
      <p><span translate="AntisocialMoralViolation"></span></p>
	  <p><span translate="IdEmailPhone"></span></p>
      <p><span translate="MisIdentification"></span></p>
	  <li><span translate="MemberRespPass"></span></li>
      <li><span translate="MustChangePass"></span></li>
      <li><span translate="MemberFollowInstruction"></span></li>
      <li><span translate="MustLogOut"></span></li>
      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art7"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="MemberShallProvideInfo"></span></li>
      <li><span translate="MemberCanModifyPersonalInfo"></span></li>
      <li><span translate="ModifyWithoutDelay"></span></li>
       </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art8"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="CompanyProtectPersonalInfo"></span></li>
      <li><span translate="MemberInfoExposedByMember"></span></li>
      </ol>
	  <p>
       </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art9"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="MemberAbideBy"></span></li>
	  <p translate="P1"></p>
	  <p translate="P2"></p>
	  <p translate="P3"></p>
	  <p translate="P4"></p>
	  <p translate="P5"></p>
	  <p translate="P6"></p>
	  <p translate="P7"></p>
	  <p translate="P8"></p>
	  <p translate="P9"></p>
	  <p translate="P10"></p>
	  <p translate="P11"></p>
	  <p translate="P12"></p>
	  <p translate="P13"></p>
	  <p translate="P14"></p>
	  <p translate="P15"></p>
	  <p translate="P16"></p>
	  <p translate="P17"></p>
	  <p translate="P18"></p>
	  <p translate="P19"></p>
	  <p translate="P20"></p>
	  <p translate="P21"></p>
	  <p translate="P22"></p>
	  <p translate="P23"></p>
	  <p translate="P24"></p>
	  <p translate="P25"></p>
	  <p translate="P26"></p>
	  <p translate="P27"></p>
	  <p translate="P28"></p>
	  <p translate="P29"></p>
	  <p translate="P30"></p>
	   <li><span translate="ConfirmObserveNotices"></span></li>
	   </ol>
	  <p>
    </p>
	 </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art10ObliCom"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="AbuseProb"></li>
      <li translate="CompanySecurity"></li>
	  <li translate="RepairUnauthorized"></li>
      <li translate="NormalDamage"></li>
      <li translate="CompanyDeal"></li>
	  <li translate="CompanyPaypal">  </li>
      </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art11Violation"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="MemberWarning"></li>
      <p translate="WrittenWarning">(</p>
      <p translate="CompanyWarArt9"></p>
	  <p translate=" RestrictionUse">(</p>
	  <p translate="CompanyFixedPeriod"></p>
      <p translate="PermanentSuspension"></p>
	  <p translate="PermanentalySuspend"></p>
	  <li translate="CompanySanction"></li>
	  </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="ProjectInfo"></strong></h3>
	 <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="FreelancerReceiveServices"></span></li>
      <p translate="Service1"></p>
      <p translate="Service2"></p>
      <p translate="Service3"></p>
      <p translate="Service4"></p>
      <p translate="Service5"></p>
      <p translate="Service6"></p>
      <p translate="Service7"></p>
      <p translate="Service8"></p>
      <p translate="Service9"></p>
      <p translate="Service10"></p>
      <p translate="Service11"></p>



	   <p>①<span translate="ClientNotRequire"></span></p>
	   <p>②<span translate="NoReqBeyondCompany"></span></p>
	   <p>③<span translate="ObligationToDetermine"></span></p>
	   <p>④<span translate="WithIn7Days"></span> </p>
	   <p translate="Service12"></p>
	   <p>① <span translate="NoRefundForPrize"></span> </p>
	   <p>② <span translate="ContestNonRefund"></span></p>
	   <p>③ <span translate="FreelancerMustTransferOriginalFile"></span></p>
	   <p translate="originalCopy">④.</p>
	   <p translate="IdeasNotSelect">.</p>
	   <p translate="ClientNotSupport"></p>
	   <p translate="ContestHold"></p>
	   <p translate="Service13"></p>
	   <p translate="HoldingCompany">.</p>
	   <p translate="PromisingGuaranteeing"></p>
	   <p translate="CompanyRegarding"> </p>
	   <p translate="ThirdParty"></p>
	   <p translate="WinnerDelivered"></p>
	   <p translate="RelationClient"></p>
	 </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article13Concern"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="Article12Ordered"></li>
      <li translate="SignedSeparately"></li>
      <li translate="InternetExplorer2"></li>
      <li translate="Contractor"></li>
      <li translate="Precedence">.</li>
	  <li translate="VerificationPeriod"></li>
      <li translate="AddedTax"></li>
      <li translate="CompanyBear"></li>
      </ol>
	  <p>
    </p>
		<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art14PaidServices"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="ProvidingPaid">.</li>
      <li translate="CompayCredit"></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="correctionContent"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p translate="OperationalTechnical"></p>
      </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art16ProvisionProject"></strong></h3>
	<p>
     <ol class="p-ml-md">
	  <li translate=" CommenceService "> </li>
      <li translate="Services24"></li>
	  <li translate="CertainPeriod"></li>
      <p translate=" PeriodicInspection"></p>
      <p translate="HackingCommunication "></p>
      <p translate="MethodRelevant"></p>
	  <p translate="NaturalDisasters"></p>
	  <p translate="Deterioration"></p>
	  <li translate="PcCommunication"></li>
      <li translate="CommunicationData"></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="PublicationOfAd"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="ShallExclude">.</li>
      <li translate="CompanyRevenue"></li>
      <li translate="PageLink"></li>
	  <li translate="PromotionalActivities">.</li>
  </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article18Ter"></strong></h3>
<p>
    </p>
    <ol class="p-ml-md">
	  <p translate="OwnApp"></p>
	 </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article19Termination"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <li translate="PriorNotice"></li>
      <p translate="Fraudulent"></p>
      <p translate="CriminalAct"></p>
      <p translate="SocialPublic"></p>
	  <p translate="Stolen"></p>
	  <p translate="Impair"></p>
	  <p translate="DoubleRegisters"></p>
	  <p translate="Hinds"></p>
	  <p translate="AnyOther"></p>
	  <li translate="Suspended"></li>
      </ol>
	  <p>
    </p>
  	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Sanction"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li translate="connectionSuspend"></li>
      <li translate="Dormant"></li>
      <li translate="Banners"></li>
      <li translate="InfoContent"></li>
	 </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Article21Transfer"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p translate="Collateral"></p>
      <li translate="DormantMember"></li>
      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate= "LiabilityIndemnification"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <li translate="CompanyExempt"></li>
      <p translate="TechnologicalDeficiencies"></p>
      <p translate="TerminationService"></p>
      <p translate="CarrierSuspends"></p>
	  <p translate="UnavoidableReasons"></p>
	  <p translate="NetworkEnvironment"></p>
	  <p translate="GrossNegligence"></p>
	  <p translate="NoIntentional"></p>
	  <p translate="MaterialFault"></p>
	  <p translate="BenefitsExpected"></p>
	  <p translate="ComputerError"></p>
	  <p translate="GovernmentPolicies"></p>
	  <p translate="Accuracy"></p>
	  <p translate="Video"></p>
	  <li translate="DescribedDirectly"></li>
	  <li translate="InformationOpinions"></li>
	  <li translate="AttorneysFee"></li>
	  <li translate="UnderArticle13"></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="CompensationDamages"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p translate="IntentionalGross"></p>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="ArtJudge"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p translate="CompetentJurisdiction"></p>
      </ol>
	  <p>
    </p>
	 <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="PostsCopyright"></strong></h3>
	<p>
    </p>
    <ol class="p-ml-md">
	  <li translate="IncludingModifications"></li>
      <p translate="DoesMeet"></p>
      <p translate="SimilarContent"></p>
      <p translate="URL"></p>
	  <p translate="NotDesignated"></p>
	  <p translate="CompanyProposes"></p>
	  <p translate="Soliciting"></p>
	  <p translate="ObsceneVulgar"></p>
	  <p translate="Slander"></p>
	  <p translate="ChildPornography"><p>
	  <p translate="Morality"></p>
	  <p translate="CriminalAct"></p>
	  <p translate="PortraitCopyright"></p>
	  <p translate="NatureInfo"></p>
	  <p translate= "UserRulesVio"> </p>
	  <p translate="ApplicableLaws"></p>
	  <li translate="ConsiderablePeriod"></li>
	  <li translate="CriminalLiability"></li>
	  <li translate="ContentsTransmitted"></li>
	  <li translate="LibelousActivity"></li>
      </ol>
	  <p>
    </p>
	<h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art26"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="FreelancerShouldNotViolate"></span></li>
      </li><span translate="ClientAppliedForHostingContest"></span></li>
      <p>①<span translate="FreelancersHoldingContest"></span></p>
	  <p>② <span translate="RightsIntermediateDeliverables"></span></p>
	  <p>③ <span translate="RightsOfWinner"></span></p>
	  <p>④ <span translate="WinnerPrizeOwnedByClient"></span></p>
	  <p>⑤<span translate="AuthorizeCompany"></span></p>
	  <p>⑥<span translate="WinnerWorkCopiedDistributed"></span></p>
	  <p>⑦<span translate="CompanyNotArbitratorMediator"></span></p>
	  <p>⑧<span translate="CompanyNotLiable"></span></p>
	  <p>⑨<span translate="CompanyMayDelete"></span></p>

      </ol>
	  <p>
    </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art27"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <li><span translate="DepositPaymentSystemService"></span></li>


	 <li> <span translate="ProjPay"></span></li>
	 <p><span translate="PayP1"></span>
	 <p><span translate="PayP2"></span></p>
	  <p>①<span translate="CalculationMethodoneMillion"></span> </p>
	  <p>②<span translate="MillionWonwithVAT"></span></p>
	  <p>③<span translate="AmountOfFreelancers"></span></p>
	  <p>④<span translate="AmountReceivedByFreelancers"></span></p>
	 <li><span translate="RefundPolicy"></span> </li>
      <p translate="Policy1"></p>
	 <li><span translate="FreelancerPayment"></span> </li>
	  <p translate="Within24"></p>


	 <li> <span translate="ContestHolding"></span></li>
	 <p><span translate="PayP1"></span>
	 <p translate="Pp2"></p>
	 <p>① <span translate="PrizeMoneyPaidFreelancer"></span></p>
	 <p translate="Pp3"> </p>
	 <p translate="Pp4"></p>
	 <li><span translate="RefPolClient"></span> </li>
		<p translate="POne"></p>
		<p translate="PTwo"></p>
		<p translate="PThree"></p>
		<p translate="PFour"></p>
		<p translate="PFive"></p>
	 <li><span translate="PrizeMoneyPayment"></span> </li>
	    <p translate="PrizeCondition1"></p>
	    <p translate="PrizeCondition2"></p>
	    <p translate="PrizeCondition3"></p>
	    <p translate="PrizeCondition4"></p>



	 <li> <span translate="ServiceAdoption"></span></li>
	  <p><span translate="PayP1"></span>
	  <p translate="FeeDeduction15"></p>
	  <p>①<span translate="CalculationMethodoneMillion"></span> </p>
	  <p>②<span translate="MillionWonwithVAT"></span></p>
	  <p>③<span translate="AmountReceivedByFreelancers93"></span></p>
	  <p>④<span translate="AmountReceivedByFreelancers82"></span></p>
	 <li><span translate="RefundPolicyClient"></span> </li>
      <p translate="Policy1"></p>
	 <li><span translate="PaymentLivingRelated"></span> </li>
	  <p translate="WithIn24AfterApproval"></p>

      </ol>
	  <p>
	   </p>
	   <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art28"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p><span translate="MemberServiceContract"></span></p>
      </ol>
	  <p>
	   </p>
     <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art29"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	  <p><span translate="SettlementContents"></span> </p>
	  <p>•	<span translate="AddressAdmin"></span></p>
	  <p>•	<span translate="Emailadmin"></span></p>
	  <p>•	<span translate="Phone"></span></p>
      </ol>
	  <p>
	   </p>
	   <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art30"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="MembersNotReceiveInterest"></span></li>
	<li><span translate="CompanyMayChargeMemberShip"></span></li>
	<li><span translate="MutatisMutandis"></span></li>
	  </ol>
	  <p>
	   </p>
	    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art31"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="CompanyShallPayRefund"></span> </li>
	  </ol>
	   <p>
	   </p>
	    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art32"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="ServicesBasedServersInKorea"></span></li>
	  </ol>
	  <p>
	   </p>
    <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Art33"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li><span translate="CompanyArbitration"></span></li>
	<p translate="Pnt1"></p>
		<p translate="Pnt3"></p>
		<p translate="Pnt4"></p>
       <p translate="Pnt4"></p>
	  <li><span translate="IfNoAgreemnet"></span></li>
      <li><span translate="InappropriatelyMisuse"></span></li>
<li><span translate="IndicateOtherMembers"></span></li>
<li><span translate="IfDisputeResolved"></span></li>
	  </ol>
	  <p>
	   </p>
	   <h3 class="h2-mobile-font"><span style="font-size:20px" class="glyphicon glyphicon-ok verificationcheck"></span> <strong translate="Appendix"></strong></h3>
    <p>
    </p>
    <ol class="p-ml-md">
	<li>1.	<span translate="AgreementEffectiveDate"></span></li>
	  </ol>
	  <p>
	   </p>
 <br><br>
      </p>
  </div>
</section>
